.crawl {
    background-color: #264d7d;
    position: absolute;
    left: 0;
    right: 0;
    color: #f0f0f0;
    text-shadow: 0 0 5px #101010;
    padding-top: 2%;
    padding-bottom: 3%;
}

.crawl > h2, .crawl > div > h3, .crawl > div > h4 {
    color: #f0f0f0;
}

.crawl > div > a {
    color: #c0c0c0;
    transition: .3s;
}

.crawl > div > a:hover {
    text-decoration: none;
    transition: .2;
    color: #909090;
}
/*
    IN THE FUTURE, DO NOT USE THIS BELOW STYLING
*/
.crawl {
    margin-top: 3%;
    padding-top: 1%;
    left : -18vw;
    right : -18vw;
}

/*
    IN THE FUTURE, DO NOT USE THIS ABOVE STYLING
*/

.text-expand {
    transition: .6s;
    cursor: default;
}

.text-expand:hover {
    transition: .4s;
    letter-spacing: .4rem;
}

.fa {
    font-size: calc(3vw + 2rem);
}