.crawl {
    margin-bottom : 1%;
    background-color: #264d7d;
    position: absolute;
    left: 0;
    right: 0;
    color: #f0f0f0;
    text-shadow: 0 0 5px #101010;
}

.crawl > h2, .crawl > div > h3, .crawl > div > h4 {
    color: #f0f0f0;
}

#contact {
    margin-bottom : 2%;
    padding-top: 3%;
}

/*
    IN THE FUTURE, DO NOT USE THIS BELOW STYLING
*/
.crawl {
    left : -50vw;
    right : -50vw;
}

/*
    IN THE FUTURE, DO NOT USE THIS ABOVE STYLING
*/

.text-expand {
    transition: .6s;
    cursor: default;
}

.text-expand:hover {
    transition: .4s;
    letter-spacing: .4rem;
}

.fa {
    font-size: calc(3vw + 2rem);
}