address {
    letter-spacing: .3rem;
    text-align: center;
    text-shadow: 1px 1px 1px #dfe7f0, -1px -1px 1px #dfe7f0;
    font-size: 125%;
    font-weight: 700;
}

a {
    font-size: 125%;
    font-weight: bold;
    color: #264DD0;
}

body {
    background-color: #dcdcdc;
    color: #646490;    
}

h1, h2, h3, h4 {
    letter-spacing: .2rem;
    color: #29294C;
    font-weight: 1000;
    text-shadow: 1px 1px 3px #264D7D;
}

h5 {
    font-weight: 700;
}

nav {
    background-color: #264D7D /* #b3acf0; */
}

p {
    font-family: consolas;
}

strong {
    letter-spacing: .2rem;
}

.bordered {
    border: solid 3px #264D7D
}

.buff-tb {
    margin: 1rem 0 2rem 0;
}

.card {
    background-color: #dfe7f0;
    margin : .6rem 0;
    border: 1px solid #264D7D66;
    transition: .3s;
}

.card:hover {
    background-color: #c6d5e7;
    transition: .3s;
}

.clickable:hover {
    transition: .3s;
    /* background-color: #eff4fb; */
    background-color: #e5e5f5;
}

.h-40 {
    height : 40px;
}

.image-container {
    position : relative;
    display : inline-block;
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;  
    border-radius: 30px 10px;   
}

.ltrsp-sm {
    letter-spacing: .1rem;
}

.list-group {
    padding : 0;
}

.list-group-item {
    border: 2px solid #264D7D;
    background-color: #f0f0f0;
}

.overlay-text {
    border : 2px solid #264D7D;
    color: #29294C; 
    font-size: x-large;
    position: absolute; 
    border-radius: 10px; 
    width: 45%;  
    top: 15%;
    left: 5%;
    background-color: #f0f0f0;
    padding: 10px 20px;
    text-align: center;
    transition: .3s;
}

.l-shadowed {
    box-shadow: 2px 2px 3px #b3acf0;
}

.navbar {
    box-shadow: 0 5px 10px #000033;
    line-height: 2vh;
}

.nav-item {
    margin : 0 1vw;
    font-size : 2vh;
}

.navbar-light .navbar-nav .nav-link {
    color: #f0f0f0;
    transition: .2s;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #d3d09c;
    transition: .2s;
    text-shadow: -1px -3px 0px #dedede;
    background-color: #2f4f8D;
}

.pop {
    box-shadow: 1px 2px 5px #000066;
}

.w-fit {
    max-width: fit-content;
}

#header{
    padding: 100px 0 0 0;
    place-content: center;   
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header > div {
    border-radius: 100px;
    padding: 0;
    margin: 15px;    
}

#header > h1 {
    letter-spacing: .5rem; 
    word-spacing: 1.5rem; 
    text-shadow: 2px 3px 3px #264D7D;
}

#headshot {    
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 1s;
    box-shadow: 5px 5px 10px #b3acf0;
    background-color: #E6E4C9;
    background: linear-gradient(#e6e4c7, #d3d09c);
    background-size: contain;
}

#headshot:hover {
    transform: scale(-1, 1);
    box-shadow: -5px 5px 10px #b3acf0;
}


#headshot > img {
    transition: opacity 1s;
    border-radius: 90px;
}

#headshot > img:hover {
    opacity: 0;
}


#projects, #experience, #bio, #misc, #contact {
    padding: 60px 0 0 0;
}
